@using BulgarianTraditionsAndCustoms.Enums
@using BulgarianTraditionsAndCustoms.Helpers
@using BulgarianTraditionsAndCustoms.ViewModels.Traditions
@model TraditionIndexViewModel

@{
	ViewData["Title"] = "Index";

	// Дефинираме променливите веднъж в началото.
	var prevDisabled = !Model.Traditions.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.Traditions.HasNextPage ? "disabled" : "";
}

<div class="container">
	<section id="header">
		<div>
			<h2>Български традиции и обичаи</h2>
		</div>
	</section>

	<div class="row">
		<section id="main" class="col-8">
			@foreach (var item in Model.Traditions)
			{
				<div class="card mb-3">
					@if (item.ImagePath != null)
					{
						<img src="@item.ImagePath" class="card-img-top" alt="Снимка на @item.Name">
					}
					<div class="card-body container">
						<div class="row">
							<div class="col">
								<h5 class="card-title">@item.Name</h5>
								<p class="card-text"><small class="text-body-secondary">@item.CelebrationDate</small></p>
							</div>
							<div class="col d-flex justify-content-end align-items-start">
								<p class="card-text mb-0 text-end">
									<span class="badge bg-primary text-white">
										@Html.DisplayFor(modelItem => item.TraditionType)
									</span>

									<span class="ms-2">
										<i class="bi bi-geo-alt-fill"></i>
										@Html.DisplayFor(modelItem => item.Region)
									</span>
								</p>
							</div>
						</div>
						<div class="row">
							<p class="card-text">@item.Description</p>
						</div>
					</div>
					<div class="card-footer">
						<div class="container">
							<div class="row">
								@if (User.IsInRole("Admin"))
								{
									<div class="col">
										<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Редактиране</a>
										<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.Id">Изтриване</button>
									</div>
								}
								<div class="col text-end">
									<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Прочети още</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				@if (User.IsInRole("Admin"))
				{
					<partial name="_DeleteModal" model='new DeleteModalViewModel { Id = item.Id, EntityName = item.Name, DisplayTitle = "традицията", Controller = "Traditions" }' />
				}
			}
			@* --- НАЧАЛО НА НАВИГАЦИЯТА ЗА СТРАНИЦИТЕ --- *@

			<!-- Бутон "Предишна" -->
			<a asp-action="Index"
			   asp-route-pageNumber="@(Model.Traditions.PageIndex - 1)"
			   asp-route-sortOrder="@Model.FilterQuery.SortOrder"
			   asp-route-pageSize="@Model.FilterQuery.PageSize"
			   asp-route-searchString="@Model.FilterQuery.SearchString"
			   asp-route-dateFrom="@Model.FilterQuery.DateFrom"
			   asp-route-dateTo="@Model.FilterQuery.DateTo"
			   asp-route-traditionTypes="@(Model.FilterQuery.TraditionTypes != null ? string.Join(",", Model.FilterQuery.TraditionTypes) : null)"
			   asp-route-regions="@(Model.FilterQuery.Regions != null ? string.Join(",", Model.FilterQuery.Regions) : null)"
			   asp-route-holidayIds="@(Model.FilterQuery.HolidayIds != null ? string.Join(",", Model.FilterQuery.HolidayIds) : null)"
			   asp-route-participantIds="@(Model.FilterQuery.ParticipantIds != null ? string.Join(",", Model.FilterQuery.ParticipantIds) : null)"
			   class="btn btn-outline-primary @prevDisabled">
				« Предишна
			</a>

			<!-- Линкове с номерата на страниците -->
			@for (var i = 1; i <= Model.Traditions.TotalPages; i++)
			{
				@*
				    За всеки номер на страница (от 1 до TotalPages), създаваме линк.
				    Ако номерът на страницата 'i' съвпада с текущата страница 'Model.PageIndex',
				    ще му дадем различен CSS клас, за да го откроим визуално.
				*@
				<a asp-action="Index"
				   asp-route-pageNumber="@i"
				   asp-route-sortOrder="@Model.FilterQuery.SortOrder"
				   asp-route-pageSize="@Model.FilterQuery.PageSize"
				   asp-route-searchString="@Model.FilterQuery.SearchString"
				   asp-route-dateFrom="@Model.FilterQuery.DateFrom"
				   asp-route-dateTo="@Model.FilterQuery.DateTo"
				   asp-route-traditionTypes="@(Model.FilterQuery.TraditionTypes != null ? string.Join(",", Model.FilterQuery.TraditionTypes) : null)"
				   asp-route-regions="@(Model.FilterQuery.Regions != null ? string.Join(",", Model.FilterQuery.Regions) : null)"
				   asp-route-holidayIds="@(Model.FilterQuery.HolidayIds != null ? string.Join(",", Model.FilterQuery.HolidayIds) : null)"
				   asp-route-participantIds="@(Model.FilterQuery.ParticipantIds != null ? string.Join(",", Model.FilterQuery.ParticipantIds) : null)"
				   class="btn @(i == Model.Traditions.PageIndex ? "btn-primary" : "btn-outline-primary")">
					@i
				</a>
			}

			<!-- Бутон "Следваща" -->
			<a asp-action="Index"
			   asp-route-pageNumber="@(Model.Traditions.PageIndex + 1)"
			   asp-route-sortOrder="@Model.FilterQuery.SortOrder"
			   asp-route-pageSize="@Model.FilterQuery.PageSize"
			   asp-route-searchString="@Model.FilterQuery.SearchString"
			   asp-route-dateFrom="@Model.FilterQuery.DateFrom"
			   asp-route-dateTo="@Model.FilterQuery.DateTo"
			   asp-route-traditionTypes="@(Model.FilterQuery.TraditionTypes != null ? string.Join(",", Model.FilterQuery.TraditionTypes) : null)"
			   asp-route-regions="@(Model.FilterQuery.Regions != null ? string.Join(",", Model.FilterQuery.Regions) : null)"
			   asp-route-holidayIds="@(Model.FilterQuery.HolidayIds != null ? string.Join(",", Model.FilterQuery.HolidayIds) : null)"
			   asp-route-participantIds="@(Model.FilterQuery.ParticipantIds != null ? string.Join(",", Model.FilterQuery.ParticipantIds) : null)"
			   class="btn btn-outline-primary @nextDisabled">
				Следваща »
			</a>
		</section>
		<section id="filter" class="col-4 text-end">
			@if (User.IsInRole("Admin"))
			{
				<a asp-action="Create" class="btn btn-outline-primary w-100">Създай нова статия</a>
			}

			<div class="d-flex">
				<div class="dropdown">
					<span>Подреди по:</span>
					<button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
						Избери
					</button>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item"
							   asp-action="Index"
							   asp-route-sortOrder="name_asc"
							   asp-route-pageSize="@Model.FilterQuery.PageSize"
							   asp-route-searchString="@Model.FilterQuery.SearchString"
							   asp-route-dateFrom="@Model.FilterQuery.DateFrom"
							   asp-route-dateTo="@Model.FilterQuery.DateTo"
							   asp-route-traditionTypes="@(Model.FilterQuery.TraditionTypes != null ? string.Join(",", Model.FilterQuery.TraditionTypes) : null)"
							   asp-route-regions="@(Model.FilterQuery.Regions != null ? string.Join(",", Model.FilterQuery.Regions) : null)"
							   asp-route-holidayIds="@(Model.FilterQuery.HolidayIds != null ? string.Join(",", Model.FilterQuery.HolidayIds) : null)"
							   asp-route-participantIds="@(Model.FilterQuery.ParticipantIds != null ? string.Join(",", Model.FilterQuery.ParticipantIds) : null)">Име ↑</a>
						</li>
						<li>
							<a class="dropdown-item"
							   asp-action="Index"
							   asp-route-sortOrder="name_desc"
							   asp-route-pageSize="@Model.FilterQuery.PageSize"
							   asp-route-searchString="@Model.FilterQuery.SearchString"
							   asp-route-dateFrom="@Model.FilterQuery.DateFrom"
							   asp-route-dateTo="@Model.FilterQuery.DateTo"
							   asp-route-traditionTypes="@(Model.FilterQuery.TraditionTypes != null ? string.Join(",", Model.FilterQuery.TraditionTypes) : null)"
							   asp-route-regions="@(Model.FilterQuery.Regions != null ? string.Join(",", Model.FilterQuery.Regions) : null)"
							   asp-route-holidayIds="@(Model.FilterQuery.HolidayIds != null ? string.Join(",", Model.FilterQuery.HolidayIds) : null)"
							   asp-route-participantIds="@(Model.FilterQuery.ParticipantIds != null ? string.Join(",", Model.FilterQuery.ParticipantIds) : null)">Име ↓</a>
						</li>
						<li>
							<a class="dropdown-item"
							   asp-action="Index"
							   asp-route-sortOrder="upcoming"
							   asp-route-pageSize="@Model.FilterQuery.PageSize"
							   asp-route-searchString="@Model.FilterQuery.SearchString"
							   asp-route-dateFrom="@Model.FilterQuery.DateFrom"
							   asp-route-dateTo="@Model.FilterQuery.DateTo"
							   asp-route-traditionTypes="@(Model.FilterQuery.TraditionTypes != null ? string.Join(",", Model.FilterQuery.TraditionTypes) : null)"
							   asp-route-regions="@(Model.FilterQuery.Regions != null ? string.Join(",", Model.FilterQuery.Regions) : null)"
							   asp-route-holidayIds="@(Model.FilterQuery.HolidayIds != null ? string.Join(",", Model.FilterQuery.HolidayIds) : null)"
							   asp-route-participantIds="@(Model.FilterQuery.ParticipantIds != null ? string.Join(",", Model.FilterQuery.ParticipantIds) : null)">Предстоящи</a>
						</li>
						<li>
							<a class="dropdown-item"
							   asp-action="Index"
							   asp-route-sortOrder="region_asc"
							   asp-route-pageSize="@Model.FilterQuery.PageSize"
							   asp-route-searchString="@Model.FilterQuery.SearchString"
							   asp-route-dateFrom="@Model.FilterQuery.DateFrom"
							   asp-route-dateTo="@Model.FilterQuery.DateTo"
							   asp-route-traditionTypes="@(Model.FilterQuery.TraditionTypes != null ? string.Join(",", Model.FilterQuery.TraditionTypes) : null)"
							   asp-route-regions="@(Model.FilterQuery.Regions != null ? string.Join(",", Model.FilterQuery.Regions) : null)"
							   asp-route-holidayIds="@(Model.FilterQuery.HolidayIds != null ? string.Join(",", Model.FilterQuery.HolidayIds) : null)"
							   asp-route-participantIds="@(Model.FilterQuery.ParticipantIds != null ? string.Join(",", Model.FilterQuery.ParticipantIds) : null)">Регион ↑</a>
						</li>
						<li>
							<a class="dropdown-item"
							   asp-action="Index"
							   asp-route-sortOrder="region_desc"
							   asp-route-pageSize="@Model.FilterQuery.PageSize"
							   asp-route-searchString="@Model.FilterQuery.SearchString"
							   asp-route-dateFrom="@Model.FilterQuery.DateFrom"
							   asp-route-dateTo="@Model.FilterQuery.DateTo"
							   asp-route-traditionTypes="@(Model.FilterQuery.TraditionTypes != null ? string.Join(",", Model.FilterQuery.TraditionTypes) : null)"
							   asp-route-regions="@(Model.FilterQuery.Regions != null ? string.Join(",", Model.FilterQuery.Regions) : null)"
							   asp-route-holidayIds="@(Model.FilterQuery.HolidayIds != null ? string.Join(",", Model.FilterQuery.HolidayIds) : null)"
							   asp-route-participantIds="@(Model.FilterQuery.ParticipantIds != null ? string.Join(",", Model.FilterQuery.ParticipantIds) : null)">Регион ↓</a>
						</li>
					</ul>
				</div>
				<div class="dropdown">
					<span>Покажи:</span>
					<button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
						@Model.FilterQuery.PageSize
					</button>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item"
							   asp-action="Index"
							   asp-route-pageSize="5"
							   asp-route-sortOrder="@Model.FilterQuery.SortOrder"
							   asp-route-searchString="@Model.FilterQuery.SearchString"
							   asp-route-dateFrom="@Model.FilterQuery.DateFrom"
							   asp-route-dateTo="@Model.FilterQuery.DateTo"
							   asp-route-traditionTypes="@(Model.FilterQuery.TraditionTypes != null ? string.Join(",", Model.FilterQuery.TraditionTypes) : null)"
							   asp-route-regions="@(Model.FilterQuery.Regions != null ? string.Join(",", Model.FilterQuery.Regions) : null)"
							   asp-route-holidayIds="@(Model.FilterQuery.HolidayIds != null ? string.Join(",", Model.FilterQuery.HolidayIds) : null)"
							   asp-route-participantIds="@(Model.FilterQuery.ParticipantIds != null ? string.Join(",", Model.FilterQuery.ParticipantIds) : null)">5</a>
						</li>
						<li>
							<a class="dropdown-item"
							   asp-action="Index"
							   asp-route-pageSize="10"
							   asp-route-sortOrder="@Model.FilterQuery.SortOrder"
							   asp-route-searchString="@Model.FilterQuery.SearchString"
							   asp-route-dateFrom="@Model.FilterQuery.DateFrom"
							   asp-route-dateTo="@Model.FilterQuery.DateTo"
							   asp-route-traditionTypes="@(Model.FilterQuery.TraditionTypes != null ? string.Join(",", Model.FilterQuery.TraditionTypes) : null)"
							   asp-route-regions="@(Model.FilterQuery.Regions != null ? string.Join(",", Model.FilterQuery.Regions) : null)"
							   asp-route-holidayIds="@(Model.FilterQuery.HolidayIds != null ? string.Join(",", Model.FilterQuery.HolidayIds) : null)"
							   asp-route-participantIds="@(Model.FilterQuery.ParticipantIds != null ? string.Join(",", Model.FilterQuery.ParticipantIds) : null)">10</a>
						</li>
						<li>
							<a class="dropdown-item"
							   asp-action="Index"
							   asp-route-pageSize="15"
							   asp-route-sortOrder="@Model.FilterQuery.SortOrder"
							   asp-route-searchString="@Model.FilterQuery.SearchString"
							   asp-route-dateFrom="@Model.FilterQuery.DateFrom"
							   asp-route-dateTo="@Model.FilterQuery.DateTo"
							   asp-route-traditionTypes="@(Model.FilterQuery.TraditionTypes != null ? string.Join(",", Model.FilterQuery.TraditionTypes) : null)"
							   asp-route-regions="@(Model.FilterQuery.Regions != null ? string.Join(",", Model.FilterQuery.Regions) : null)"
							   asp-route-holidayIds="@(Model.FilterQuery.HolidayIds != null ? string.Join(",", Model.FilterQuery.HolidayIds) : null)"
							   asp-route-participantIds="@(Model.FilterQuery.ParticipantIds != null ? string.Join(",", Model.FilterQuery.ParticipantIds) : null)">15</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="card shadow-sm text-start">
				<div class="card-body">
					<form asp-controller="Traditions" asp-action="Index" method="get" id="filter">
						<div class="col-md-4 w-100">
							<div class="input-group">
								<input type="text"
									   name="searchString"
									   value="@Model.FilterQuery.SearchString"
									   class="form-control"
									   placeholder="Търси по име..." />

								<button class="btn btn-primary" type="submit">
									<i class="bi bi-search"></i>
								</button>
							</div>
						</div>

						<!-- Period -->
						<h5 class="mb-3">Период</h5>
						<div class="d-flex align-items-center gap-2 mb-4">
							<input type="date" name="dateFrom" value="@Model.FilterQuery.DateFrom" class="form-control" aria-label="Начална дата">
							<span>–</span>
							<input type="date" name="dateTo" value="@Model.FilterQuery.DateTo" class="form-control" aria-label="Крайна дата">
						</div>

						<!-- Tradition Type -->
						<h5 class="mb-3">Тип традиция</h5>
						<div class="border rounded p-2 mb-4 overflow-auto" style="max-height:150px;">
							@foreach (var type in ViewBag.TraditionTypes as IEnumerable<TraditionType>)
							{
								<div class="form-check">
									<input class="form-check-input"
										   type="checkbox"
										   data-filter="traditionTypes"
										   value="@type"
										   id="type_@type"
										   @(Model.FilterQuery.TraditionTypes.Contains(type) ? "checked" : "") />

									<label class="form-check-label" for="type_@type">
										@EnumHelper.GetDisplayName(type)
									</label>
								</div>
							}
						</div>


						<!-- Region -->
						<h5 class="mb-3">Регион</h5>
						<div class="border rounded p-2 mb-4 overflow-auto" style="max-height:150px;">
							@foreach (var region in ViewBag.Regions as IEnumerable<Region>)
							{
								<div class="form-check">
									<input class="form-check-input"
										   type="checkbox"
										   data-filter="regions"
										   value="@region"
										   id="region_@region"
										   @(Model.FilterQuery.Regions.Contains(region) ? "checked" : "") />

									<label class="form-check-label" for="region_@region">
										@EnumHelper.GetDisplayName(region)
									</label>
								</div>
							}
						</div>


						<!-- Holiday -->
						<h5 class="mb-3">Празник</h5>
						<div class="border rounded p-2 mb-4 overflow-auto" style="max-height:150px;">
							@foreach (var holiday in ViewBag.Holidays as IEnumerable<SelectListItem>)
							{
								<div class="form-check">
									<input class="form-check-input"
										   type="checkbox"
										   data-filter="holidayIds"
										   value="@holiday.Value"
										   id="holiday_@holiday.Value"
										   @(Model.FilterQuery.HolidayIds.Contains(int.Parse(holiday.Value)) ? "checked" : "") />

									<label class="form-check-label" for="holiday_@holiday.Value">
										@holiday.Text
									</label>
								</div>
							}
						</div>


						<!-- Participant -->
						<h5 class="mb-3">Участник</h5>
						<div class="border rounded p-2 mb-4 overflow-auto" style="max-height:150px;">
							@foreach (var participant in ViewBag.Participants as IEnumerable<SelectListItem>)
							{
								<div class="form-check">
									<input class="form-check-input"
										   type="checkbox"
										   data-filter="participantIds"
										   value="@participant.Value"
										   id="participant_@participant.Value"
										   @(Model.FilterQuery.ParticipantIds.Contains(int.Parse(participant.Value)) ? "checked" : "") />

									<label class="form-check-label" for="participant_@participant.Value">
										@participant.Text
									</label>
								</div>
							}
						</div>

						<!-- Hidden Inputs to hold CSV values -->
						<input type="hidden" name="traditionTypes" id="traditionTypesCsv" />
						<input type="hidden" name="regions" id="regionsCsv" />
						<input type="hidden" name="holidayIds" id="holidayIdsCsv" />
						<input type="hidden" name="participantIds" id="participantIdsCsv" />

						<!-- SUBMIT -->
						<button type="submit" class="btn btn-primary w-100">
							Приложи филтри
						</button>

					</form>

				</div>
			</div>

		</section>
	</div>
</div>

@section Scripts {
	<script>
		document.querySelector("form#filter").addEventListener("submit", function () {

			const buildCsv = (selector, targetId) => {
				const values = Array.from(document.querySelectorAll(selector))
					.filter(cb => cb.checked)
					.map(cb => cb.value);

				document.getElementById(targetId).value = values.join(",");
			};

			buildCsv('[data-filter="traditionTypes"]', 'traditionTypesCsv');
			buildCsv('[data-filter="regions"]', 'regionsCsv');
			buildCsv('[data-filter="holidayIds"]', 'holidayIdsCsv');
			buildCsv('[data-filter="participantIds"]', 'participantIdsCsv');
		});
	</script>

}